*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Playfair",sans-serif,serif;
    background-color: #F8F7F4;
}

.nav{
    width: 100%;
    height:12vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
}
.nav-left{
    width:40%;
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}
.nav-left h2{
    font-size: 15px;
    font-weight: 600;
    /* background-color: aqua; */
    /* width: 15%; */
}
.nav .logo{
    /* width: 20%; */
    height: 3vh;
    /* background-color: red; */
}

.nav-right{
    width:40%;
    /* background-color: yellow; */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}

.nav-right input{
    padding: 15px 25px;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    width:35%;
    background-color: white;
}
.nav-right button{
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 14px;
    border:none;
    background-color: black;
    color: white;
    font-weight: 600;
}
.nav-right :nth-child(2){
    background-color: transparent;
    color: black;
}


.showcase{
    width: 100%;
    height: calc(100vh - 12vh);
    /* background-color: orangered; */
}

.showcase .center{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    gap: 30px;
    padding: 1vw 2vw;
    /* margin-top: 10px; */

}
.showcase .center h4{
    font-size: 1.5vh;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.568);
}

.showcase .center h1{
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    line-height: .9;
}

.showcase .center h3{
    font-size: 1.5vw;
    font-weight: 400;
    text-align: center;
}

.showcase .center button{
    background-color: black;
    color: white;
    border: none;
    padding: 20px 25px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
}


.showcase .bottom{
    /* background-color: pink; */
    height: 50%;
    width: 100%;
    padding: 2vw 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    


   
}
.showcase .bottom .container{
    flex-shrink: 0;
    width: 130%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;
    /* flex-wrap: nowrap; */
    /* flex-shrink: 0; */
    /* background-color: red; */
    padding: 0 16px;
    
    animation-name: image-marquee;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* transition: all ease; */
    /* margin-right: 40px; */
    
    
}

@keyframes image-marquee{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(calc(-100%));
    }
} 

.showcase .bottom .elemt{
    width: 260px;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
}
.showcase .bottom .elemt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* z-index: 1; */
}
.showcase .bottom .elemt video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showcase .bottom .elemt .overlay{
    display: flex;
    flex-flow: column-reverse;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-color: pink; */
    /* width: 100%; */
    /* height: 100%; */
    padding: 15px 10px;
    position: absolute;
    bottom: 0;
    left:0;
}
.showcase .bottom .elemt .overlay .name{
    font-size: 16px;
    color: #F8F7F4;
    font-weight: 500;
}
.showcase .bottom .elemt .overlay .title{
    font-size: 15px;
    font-weight: 600;
    color: #F8F7F4;
}
.showcase .bottom .elemt .overlay .tags{
    display: flex;
    gap:10px;
    margin-top: 10px;
}
.showcase .bottom .elemt .overlay .tags h4{
    border: 0.05px solid #f8f7f460;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
    color:#F8F7F4;
}



.elements-page{
    height: 100vh;
    width: 100%;
    /* background-color: orange; */
    padding: 2vw 0;
    
}
.elements-page>h1{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 500;
}


.elements-page .element-cards{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color:pink; */
    grid-column-gap: 3vw;
    grid-row-gap: 4vw;
    padding: 1vw 4vw;
    justify-self: center;
    align-self: center;
}
.element-cards .card-container{
    /* background-color: red; */
    height: fit-content;
    padding: 1vw 0;
    width:21vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    transition: all ease 3s;

}
.element-cards .card{
    background-color: pink;
    height: 17vw;
    width: 21vw;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.element-cards .card:hover .card-overlay{
    bottom: 0;
    left:0;

}
.element-cards .card .card-overlay{
    height:35%;
    width: 100%;
    /* background-color: pink; */
    position: absolute;
    bottom: -78px;
    left:0;
    /* border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit; */
    transition: all ease 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    background: linear-gradient(black rgba(255, 255, 255, 0.116));
}
.element-cards .card .card-overlay .product-name{
    font-size: 18px;
    width:60%;
    /* background-color: red; */
    white-space:nowrap ;
    overflow: hidden;
    font-weight: 600;
    color: #F8F7F4;
}
/* 
doesn't work as i wanted it to
.product-name::after{
    content: "...";
} */

.element-cards .card .card-overlay .icon{
    background-color: #CCCCCC;
    padding:12px 14px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 400;
}

.card>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.element-cards .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    margin-top: 8px;
    /* position: absolute;
    bottom: -32px;
    left:0; */
}
.element-cards .bottom-left{
    display: flex;
    align-items: center;
    gap: 6px;
}
.element-cards .bottom-left img{
    width: 25px;
    height:25px;
    border-radius: 50%;
    margin-left: 6px;
}
.element-cards .bottom-left .name{
    font-size: 14px;
    font-weight: 500;
}
.element-cards .bottom-left .tag{
    font-size: 10px;
    font-weight: 600;
    padding: .6px 2px;
    padding-top: 2px;
    background-color: #CCCCCC;
    color: #F8F7F4;
}
.element-cards .bottom-left .tag:hover{
    background-color:#0D0C22 ;
    cursor: pointer;
}


.element-cards .bottom-right{
    display: flex;
    
}
.element-cards .bottom-right .likes,
    .element-cards .bottom-right .views{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        margin-right: 6px;
        color:#CCCCCC;
        font-size: 16px;


}
.element-cards .bottom-right .number{
    color: black;
    font-weight: 400;
}